h1{
     border: 1PX solid black;
     background: rgb(255, 251, 31); 

}
h2{
     border: 1PX solid black;
     background: rgb(255, 251, 31); 



}
h3{
     border: 1PX solid black;
     background: rgb(255, 251, 31); 

}
h4{

     border: 1PX solid black;
     background: rgb(255, 251, 31); 
}
h5{
     border: 1PX solid black;
     background: rgb(255, 251, 31); 


}
*{
     text-align: center;
     
     }




















